{% extends "account/base/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row mb-5">

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="product_detail.html"><img
                                        src="../media_root/products/2022/08/19/13.png" alt="Image placeholder"
                                        class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="product_detail.html">Oncoins X1000</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/14/offcoins-x100/"><img src="../media_root/products/2022/08/19/12.png"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/14/offcoins-x100/">Offcoins X100</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/13/offcoins-x10/"><img src="../media_root/products/2022/08/19/11.png"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/13/offcoins-x10/">Offcoins X10</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/12/offcoin/"><img
                                        src="../media_root/products/2022/08/19/offcoins-pack_white.png"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/12/offcoin/">Offcoin</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/10/rtl-sdr/"><img src="../media_root/products/2022/08/19/9.jpg"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/10/rtl-sdr/">RTL-SDR</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/9/hackrf-one/"><img src="../media_root/products/2022/08/19/ao.jpg"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/9/hackrf-one/">Long-sleeve T-shirt</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/8/wifi-pineapple/"><img src="../media_root/products/2022/08/19/7.png"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/8/wifi-pineapple/">WiFi Pineapple</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/7/proxmark3-rdv4/"><img src="../media_root/products/2022/08/19/6.png"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/7/proxmark3-rdv4/">Proxmark3 RDV4</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/6/alfa/"><img src="../media_root/products/2022/08/19/5.jpg"
                                        alt="Image placeholder" class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/6/alfa/">Alfa</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a href="/5/set-of-cropped-socks-midori-kuma/"><img
                                        src="../media_root/products/2022/08/19/4.jpg" alt="Image placeholder"
                                        class="img-fluid" style="height: 10vw;"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="/5/set-of-cropped-socks-midori-kuma/">Green Socks</a></h3>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <a href="/" class="d-flex"><span>Clothing</a>
                        </li>

                        <li>
                            <a href="/flags/" class="d-flex">Electronics</a>
                        </li>

                        <li>
                            <a href="" class="d-flex">Virtual Coin</a>
                        </li>

                        <li>
                            <a href="" class="d-flex">Plants</a>
                        </li>

                        <li>
                            <a href="" class="d-flex">Household Items</a>
                        </li>

                    </ul>
                </div>
                <form action="" method="get">
                    <div class="border p-4 rounded mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Sort by</h3>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <input type="checkbox" name="sort" value="name"> Name</button>
                            </li>
                            <li class="mb-1">
                                <input type="checkbox" name="sort" value="price"> Price</button>
                            </li>
                            <li class="mb-1">
                                <input type="checkbox" name="sort" value="-created" checked> Date
                                created</button>
                            </li>
                        </ul>
                    </div>
                    <div class="border p-4 rounded mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Limit</h3>
                        <ul class="list-unstyled mb-0">
                            <input type="range" class="form-range" name="limit" min="1" max="15" value="10"
                                id="customRange2"
                                onchange="document.getElementById('limitVal').innerHTML=this.value">
                            <span id="limitVal">10</span>
                        </ul>
                    </div>
                    <div class="border p-4 rounded mb-4">
                        <button type="submit" class="btn btn-block">Show</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}