{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">My Transactions</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <h1 class="text-center">Transaction details</h1>
        <div class="Transaction-info">

            <h3 class="text-center">Here you can see detailed information about your Transaction</h3><br>
            <div class="site-blocks-table">
                <table class="table table-bTransactioned">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-remove">Need</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="product-thumbnail">
                                <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
                            </td>
                            <td class="product-name">
                                <h2 class="h5 text-black">{{ product.name }}</h2>
                            </td>
                            <td>{{ product.need }}</td>
                        </tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="table">
                <table class="table table-bTransactioned">
                    <tbody>
                        <tr>
                            <td class="text-center"><label><h5>Full name</h5></label></td>
                            <td class="text-center"><strong class="text-black">{{ transaction.fullName }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><label><h5>Email</h5></label></td>
                            <td class="text-center"><strong class="text-black">{{ transaction.email }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><label><h5>Address</h5></label></td>
                            <td class="text-center"><strong class="text-black">{{ transaction.address }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><label><h5>City</h5></label></td>
                            <td class="text-center"><strong class="text-black">{{ transaction.city }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><label><h5>Comment</h5></label></td>
                            <td class="text-center"><strong class="text-black">{{ transaction.comment }}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><label><h5>Attachment</h5></label></td>
                            <td class="text-center"><strong class="text-black"><img src={{ transaction.attachment.url }} width="200" height="200"></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-end">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 text-right border-bottom">
                            <h3 class="text-black h4 text-uppercase"></h3>
                        </div>
                    </div>

                    <!-- <div class="row mb-5">
                <div class="col-md-6">
                    <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                    <strong class="text-black">$200.000</strong>
                </div>
            </div> -->
                    <div class="mt-4 col-md-7" style="margin-left: 100px;">
                        {% if request.session.user == product.owner and transaction.status == 2 %}
                        <form action="{% url 'transaction:transaction_update' %}" method="POST">
                            <input type="submit" name="action" class="buy-now btn btn-sm btn-primary" value="Accept" style="margin-right: 15px;">
                            <input type="submit" name="action" class="buy-now btn btn-sm btn-primary" value="Reject">
                            <input type="hidden" name="transaction_code" value="{{transaction.transaction_code}}">
                        </form>

                        {% endif %}

                        {% if transaction.status == 1 and request.session.user == product.owner%}
                            <input type="submit" name="action" class="buy-now btn btn-sm btn-primary" value="Accepted" style="margin-right: 15px;">
                        {% endif %}                       

                        {% if transaction.status == 0 and request.session.user == product.owner%}
                        <input type="submit" name="action" class="buy-now btn btn-sm btn-primary" value="Rejected" style="margin-right: 15px;">
                        {% endif %} 

                    </div>
                </div>
    </div>
</div>
{% endblock %}