<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="/">Shop</a></li>
                            <li><a href="/order/updates/">My products</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="/order/details/">Transactions</a></li>
                            <li><a href="/cart/">Shopping cart</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h3 class="footer-heading mb-4">Promotion</h3>
                <a href="#"></a>
                <ul class="list-unstyled">
                    <li><a class="font-weight-light  mb-0">SALE OFF 20%</a></li>
                    <li><a> For the first three bills over $500</a></li>
                    </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">UIT</li>
                        <li class="phone"><a href="tel://74991102534">(+84) 777777777</a></li>
                        <li class="email">uit@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>